* {
		box-sizing: border-box;
	}
	

h1{
		margin-bottom: 15px;
		font-family: serif;
		text-align: center;
	}
	

	p{	
		width: 100%;
		height: 180px;
		text-align: center;
		font-family: serif;
		font-style:italic; 
		color:black;
	}

	section{
		border:1px solid black;
        background-color: #d3d3d3;
         font-style: italic;
         font-size: 20px
	}

    section>h2{
    float: right;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: 0;
    width: 230px; 
    text-align: center;
    font-style: Times;
    font-size: 24px;
    font-weight: bold;
    height: 45px;
    padding-top: 10px;
    }


 section.india>h2{
    	background-color: #76b8db;
    	color:#e2e2e2;

    }

    section.japan>h2{
    	background-color: #4f7acd;
    	color:#e2e2e2;
    }

    section.USA>h2{
    	background-color: #e2e2e2;
    }

	section p{
		padding: 30px;
	}
	.row{
		width:100%;
	}


   @media(min-width: 1200px){
		.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
			float:left;
			padding: 10px
		}
.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}
}

